:root {
  
  --primary-color: #808080;
  --standard-margin: 10px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}


body {
  height:100%;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 50px;

}
  


header {
           /* create a grid to place the header and navbar */
           
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: var(--primary-color);
    color: #ffffff;
    padding: 5px;
    height:auto;
    
  
}

header h1 {
  font-size:15px;
}

header nav {
  
  justify-self: flex-end;
  margin: var(--standard-margin);

}   

a {
  color: white;
  text-decoration: none;
  font-size: 15px;


}

header nav a:hover {
  text-decoration: underline;
}


.hero-banner { 
  grid-column: 1/ 2;                /* flexbox for the banner  */
  display: flex;
  padding: 20px 20px;
  flex-shrink: 3;
  background-image: url(../images/Solid\ Red\ Background\ Stock\ Photo\ HD\ \ \ Public\ Domain\ Pictures.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  color:white;
}

/* create a  grid to wrap the main and the image   */
.page-wrapper  {

  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  grid-template-areas:      /*Create the layout for grid  */

    'section-0 section-0'
    'section-1 section-2'
    'section-3 section-4'
    'section-5 section-6'
}

.avatar {
   
  grid-area: section-0; 
  display:flex;
  justify-content:center;
  border:none;

}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  

}


main section {
  background: white;
  color:var(--primary-color);
  padding: 15px;
  border-left: 3px solid var(--primary-color);  
  margin:30px;

}    

.page-section {
  grid-area: section-1;
  display: flex;   /* inside the grid, this column becomes a flexbox   */
  justify-content:right;
  border:none;
}

.content{
  grid-area: section-2;
  
  
}

.page-section-work {
  grid-area: section-3;
  display: flex;
  justify-content:right;
  border:none;
  
}


.flex-container  {
  grid-area: section-4;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;  
  margin-bottom: .1rem;

}

.page-section-contact {

  grid-area: section-5;
  display: flex;

  justify-content:right;
  border:none;
  margin-bottom: 20px;
  
}

.details {
  grid-area: section-6;
  display: flex;
  justify-content: center;
  color:blue;
  text-decoration: underline;
}


.image1 {
  margin: var(--standard-margin);
  background-image: url("../images/02-portfolio-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.image2 {
  margin: var(--standard-margin);
  background-image: url("../images/02-portfolio-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}


.image3 {
  margin: var(--standard-margin);
  background-image: url("../images/02-portfolio-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.image4   {

  margin: var(--standard-margin);
  background-image: url("../images/02-portfolio-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



.image1, .image2, .image3, .image4 {

  width: 450px;
  height: 250px;
  padding: .4rem;
  flex: 1 1 auto; 
  

}

.image1:hover, .image2:hover, .image3:hover, .image4:hover  {

  height:300px;
  transition: 0.3s;
  
    
}

@media (max-width: 768px)  {


  header {

    grid-template-columns: 1fr 2fr;

  }  

  .hero-banner {
    font-size: .85rem;
   }
    
  nav a {
    font-size: .85rem;
  }

}
